<img src="https://pardee.du.edu/sites/default/files/PardeeCenterLogo_finalnew.png" />
<p style="text-align: center;">yutang.xiong@du.edu </p>

# Load Packages

In [194]:
## Packages you will need to download and install
import pandas as pd
import numpy as np
## Default ones that come with Python
import re
import os
import datetime

# Data Type/Structure in Python
### Basic Type: String, Integer, Float, Boolean
- Sometimes they are convertable
- Sometimes you can combine them
- Mathematical/Logical operations

In [43]:
print(1,type(1),";",
      "1",type("1"),";",
      1.0,type(1.0),";",
      True,type(True))

1 <class 'int'> ; 1 <class 'str'> ; 1.0 <class 'float'> ; True <class 'bool'>

In [61]:
print(1+True, 1+1.0, "b"+"oa", "a"*5, "a"<"g", 3<2.5, 0==False)

2 2.0 boa aaaaa True False True

### Basic Structure: Tuple, List, Set, Dictionary
- They are all iterable -> convertable
- Concept of "Copy" & "Deep Copy" - "Mutable" & "Immutable"
- List can be sorted which means elements have assigned positions
- keys of dict & elements in the set are unique & unordered

In [52]:
print((1,2),type((1,2)),";",
      [1,2],type([1,2]),";",
      {1,2},type({1,2}),";",
      {1:2},type({1:2}))

(1, 2) <class 'tuple'> ; [1, 2] <class 'list'> ; {1, 2} <class 'set'> ; {1: 2} <class 'dict'>

In [62]:
print(set([1,2]), list({1,2}), tuple({1,2}))

{1, 2} [1, 2] (1, 2)

In [72]:
a=[1,2,3,4]
b=a
print(a,b)
b.append(5)
print(a,b)
a.append(5)
print(a,b)

# Use deepcopy function to avoid this 
print("-"*50)
import copy
a=[1,2,3,4]
b=copy.deepcopy(a)
print(a,b)
b.append(5)
print(a,b)

# An alternative way
print("-"*50)
a=[1,2,3,4]
b=list(a)
print(a,b)
b.append(5)
print(a,b)

[1, 2, 3, 4] [1, 2, 3, 4]
[1, 2, 3, 4, 5] [1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 5] [1, 2, 3, 4, 5, 5]
--------------------------------------------------
[1, 2, 3, 4] [1, 2, 3, 4]
[1, 2, 3, 4] [1, 2, 3, 4, 5]
--------------------------------------------------
[1, 2, 3, 4] [1, 2, 3, 4]
[1, 2, 3, 4] [1, 2, 3, 4, 5]

In [66]:
print(set([1,2,2]),[1,2,2])

{1, 2} [1, 2, 2]

In [12]:
test_list=[5,3,6]
for i in test_list:
    print(i)
print("----------------")
test_list.sort() # or test_list.sort(reverse=True) to get items from large to small
for i in test_list:
    print(i)

5
3
6
----------------
3
5
6

### Advanced 
- Linked list, Heap, Union (We won't cover here)
- Array, Series, DataFrame (from Numpy & Pandas)

In [94]:
test_array=np.array([1,2,2,4,5])
test_array

array([1, 2, 2, 4, 5])

In [95]:
test_series=pd.Series([1,2,2,4,5])
test_series

0    1
1    2
2    2
3    4
4    5
dtype: int64

In [96]:
test_df=pd.DataFrame({"Country":["Japan","United States","Russia"],"Year":[1992,1993,1995]})
test_df

         Country  Year
0          Japan  1992
1  United States  1993
2         Russia  1995

# Pandas DataFrame from Excel file
- Fragile State Index Data is an open source data from https://fragilestatesindex.org/excel/
- Indices for each year are stored in separated files
- Goal is to combine files together,and then some data cleaning
- Required pacakges- pandas, os; Optional package- re, datetime

In [139]:
# Desired Format 
pd.DataFrame({"Country":["Afghanistan","Yemen"],"Year":[2012,2012],"FragileStateIndex":[106,104.8]})

       Country  Year  FragileStateIndex
0  Afghanistan  2012              106.0
1        Yemen  2012              104.8

In [129]:
# here I'm using the relative path which is the path from your current working directory
# the absolute directory here would be 
# "/Users/Xyt/Desktop/Pardee Center/quick Python/Pardee_Data_Team_Python/Note Books/Sample Data/FSI 2006-2018"
# to get the absolute path, you can use os.path.abspath("Sample Data/FSI 2006-2018") 
os.listdir("Sample Data/FSI 2006-2018")

['fsi-2012.xlsx',
 'fsi-2008.xlsx',
 'fsi-2009.xlsx',
 'fsi-2013.xlsx',
 'fsi-2018.xlsx',
 'fsi-2014.xlsx',
 'fsi-2015.xlsx',
 'fsi-2016.xlsx',
 'fsi-2017.xlsx',
 'fsi-2006.xlsx',
 'fsi-2010.xlsx',
 'fsi-2011.xlsx',
 'fsi-2007.xlsx']

In [157]:
# or use absolute path pd.read_excel("/Users/Xyt/Desktop/Pardee Center/quick Python/Pardee_Data_Team_Python/Note Books/Sample Data/FSI 2006-2018/fsi-2012.xlsx")
dt_2012=pd.read_excel("Sample Data/FSI 2006-2018/fsi-2012.xlsx")
# lets take a glance at first 5 rows
dt_2012.head()

,Country,Year,Rank,Total,C1: Security Apparatus,C2: Factionalized Elites,C3: Group Grievance,E1: Economy,E2: Economic Inequality,E3: Human Flight and Brain Drain,P1: State Legitimacy,P2: Public Services,P3: Human Rights,S1: Demographic Pressures,S2: Refugees and IDPs,X1: External Intervention
0,Somalia,2012-01-01,1st,114.9,10.0,9.8,9.6,9.7,8.1,8.6,9.9,9.8,9.9,9.8,10.0,9.8
1,Congo Democratic Republic,2012-01-01,2nd,111.2,9.7,9.5,9.3,8.8,8.9,7.4,9.5,9.2,9.7,9.9,9.7,9.6
2,Sudan,2012-01-01,3rd,109.4,9.7,9.9,10.0,7.3,8.8,8.3,9.5,8.5,9.4,8.4,9.9,9.5
3,South Sudan,2012-01-01,n/r,108.4,9.7,10.0,10.0,7.3,8.8,6.4,9.1,9.5,9.2,8.4,9.9,10.0
4,Chad,2012-01-01,4th,107.6,8.9,9.8,9.1,8.3,8.6,7.7,9.8,9.5,9.3,9.3,9.5,7.8

In [179]:
# Columns we need are Country, Year, Total
# try dt_2012.columns and see what it will return
dt_2012=dt_2012[["Country","Year","Total"]]
# explore this data's attributes
dt_2012.dtypes

Country            object
Year       datetime64[ns]
Total             float64
dtype: object

In [180]:
dt_2012.head(2)

                     Country       Year  Total
0                    Somalia 2012-01-01  114.9
1  Congo Democratic Republic 2012-01-01  111.2

In [181]:
# Use the above commands in a loop to combine all the Excel files together
dt_fsi=[]

for i in os.listdir("Sample Data/FSI 2006-2018"):
    
    dt_temp=pd.read_excel("Sample Data/FSI 2006-2018/"+i)
    dt_temp=dt_temp[["Country","Year","Total"]]
    
    dt_fsi.append(dt_temp)
    
fsi_allyear=pd.concat(dt_fsi, ignore_index=False)

In [183]:
# Rename column Total to FragileStateIndex
# Either use inplace=True or a re-assignment to overwrite current dataframe 
# e.g., fsi_allyear=fsi_allyear.rename(columns={"Total":"FragileStateIndex"})
fsi_allyear.rename(columns={"Total":"FragileStateIndex"},inplace=True)
# Change the Year column to integer numbers
fsi_allyear.Year=fsi_allyear.Year.apply(lambda x: int(re.sub("[^0-9].+","",str(x))) )

In [186]:
fsi_allyear.head()

                     Country  Year  FragileStateIndex
0                    Somalia  2012              114.9
1  Congo Democratic Republic  2012              111.2
2                      Sudan  2012              109.4
3                South Sudan  2012              108.4
4                       Chad  2012              107.6

In [208]:
fsi_allyear.sort_values(by=["Year","Country"],inplace=True)

In [210]:
fsi_allyear.reset_index(drop=True,inplace=True)

In [212]:
fsi_allyear.to_excel("Sample Data/FSI All Years 2006-2018 Aug19 2019.xlsx",index=False)

### Variety ways to achieve the date to number conversion

In [192]:
# use slicing in string
print(str(dt_2012.Year[0]))
print(str(dt_2012.Year[0])[:4])

2012-01-01 00:00:00
2012

In [199]:
# use the inherent arribute of datetime
dt_2012.Year[0]

Timestamp('2012-01-01 00:00:00')

In [206]:
dir(dt_2012.Year[0])

['__add__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__pyx_vtable__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__weakref__',
 '_date_attributes',
 '_date_repr',
 '_get_date_name_field',
 '_get_start_end_field',
 '_has_time_component',
 '_repr_base',
 '_round',
 '_short_repr',
 '_time_repr',
 'asm8',
 'astimezone',
 'ceil',
 'combine',
 'ctime',
 'date',
 'day',
 'day_name',
 'dayofweek',
 'dayofyear',
 'days_in_month',
 'daysinmonth',
 'dst',
 'floor',
 'fold',
 'freq',
 'freqstr',
 'fromisoformat',
 'fromordinal',
 'fromtimestamp',
 'hour',
 'is_leap_year',
 'is_month_end',
 'is_month_start',
 'is_quarter_end',
 'is_quarter_start',
 'is_year_end',
 'is_year_start',
 'isocalendar',
 'isoformat',
 'isoweekday',
 'max',
 'microsecond',
 'min',
 'minute',
 'month',
 'month_name',
 'nanosecond',
 'normalize',
 'now',
 'quarter',
 'replace',
 'resolution',
 'round',
 'second',
 'strftime',
 'strptime',
 'time',
 'timestamp',
 'timetuple',
 'timetz',
 'to_datetime64',
 'to_julian_date',
 'to_period',
 'to_pydatetime',
 'today',
 'toordinal',
 'tz',
 'tz_convert',
 'tz_localize',
 'tzinfo',
 'tzname',
 'utcfromtimestamp',
 'utcnow',
 'utcoffset',
 'utctimetuple',
 'value',
 'week',
 'weekday',
 'weekday_name',
 'weekofyear',
 'year']

In [198]:
dt_2012.Year[0].year

2012